html {
    margin-left: 50px;
    color: WhiteSmoke;
    background-color: dimgray;
}

body {
    font-family: arial, helvetica, sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
}


h1{
  margin-bottom: 0px;
}


#content {
    display: grid;
    position: relative;
}



#gameArea, #overlay, #status {
    grid-column: 1;
    grid-row: 1;
}


#gameArea {
    position: relative;
    z-index: 1;
    border: 1px solid #000000;
    background: url('../earth2.png');
    background-size: cover;
    width: 75%;
}


#status {
    font-size: 22px;
    color: white;
    z-index: 2;
}




#overlay {
    position: relative;
    z-index: 3;
    background: rgba(230,230,230,0.3);
    width: 75%;
}


#start, #gameOver, #loading {
    position: absolute;
    text-align: center;
    color: black;
    width: 40%;
    top: 30%;
    margin-left: 31%;
    margin-right: 29%;
}

#startButton{
    display: none;
    background-color: #f44336;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin: 0 auto;
}

#winMessage {
    display: none;
    margin: 0 auto;
}

#overlay table {
    font-size: 22px;
    position: absolute;
    top: 20%;
    color: black;
}




#gameOver {
    display: none;
}

#gameOver b {
    font-size: 20px;
}

#gameOver button {
    background-color: #f44336;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin: 0 auto;
}