html {
    margin-left: 50px;
    color: WhiteSmoke;
    background-color: dimgray;
}

body {
    font-family: arial, helvetica, sans-serif;
    overflow-y: hidden;
}


h1{
  margin-bottom: 0px;
}


#content {
    display: grid;
}

#gameArea, #start, #status, #gameOver {
    grid-column: 1;
    grid-row: 1;
}


#gameArea {
    position: relative;
    z-index: 1;
    border: 1px solid #000000;
    background: url('../earth2.png');
    background-size: 1440px 720px;
}


#status {
    font-size: 22px;
    color: white;
    z-index: 2;
}




#start, #gameOver {
    position: relative;
    z-index: 3;
    background: rgba(230,230,230,0.3);
    width: 1442px;
    height: 722px;
}

#start button{
    background-color: #f44336;
    border-radius: 8px;
    border: none;
    position: relative;
    font-size: 20px;
    left: 50%;
    top: 50%;
}

#loading {
    position: relative;
    left: 50%;
    top: 50%;
    color: red;
}





#gameOver div {
    color: black;
    position: relative;
    left: 50%;
    top: 50%;
}

#gameOver div b {
    font-size: 20px;
}

#gameOver div button {
    background-color: #f44336;
    border-radius: 8px;
    border: none;
    position: relative;
    font-size: 20px;
}